PORT=3000
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_SSL=false
WEBHOOK_QUEUE_NAME=meta-webhooks
META_VERIFY_TOKEN=replace-with-meta-verify-token
META_APP_SECRET=replace-with-facebook-messenger-whatsapp-app-secret
META_INSTAGRAM_APP_SECRET=replace-with-instagram-app-secret
